
/* my-style */

h2 {
    text-align: center;
}

input[type=text], input[type=number], input[type=email], input[type=password]  {   
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 12px;
    resize: vertical;
    width: 65%;  
}
  
input[type=submit] {  
    background:#ccc; 
    border:0 none;
    border-radius: 5px;
    cursor:pointer;
    padding:5px 15px; 
    -webkit-border-radius: 5px;
}
  
form {
    padding: 20px;
}
  